<!DOCTYPE html>
<head>
    <% include partials/head.ejs %>
</head>
<header>
    <% include partials/header.ejs %>
</header>


<body>
<div id="demo">

</div>


<footer class="text-center">
    <% include partials/footer.ejs %>
</footer>
<script>
</script>
<%include partials/scripts.ejs %>
</body>