<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head.ejs%>

</head>
<body>
<div class="container">
    <div class="mx-auto col-md-6 col-sm-6">
        <h2 class=" text-center"><span class="fa fa-lock"></span> Login</h2>

        <% if(message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="jumbotron">
            <div class="content">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="username" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="text-center">
                        <input class="btn btn-success btn-default" type="submit">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<footer class="text-center">
    <% include partials/footer.ejs%>
</footer>
<%include partials/scripts.ejs%>

</body>
</html>